@import './base';

:root {
  // @include viewport-tablet {
  //   --wrap: calc(5 * var(--vw, 1vw));
  // }
  // @include viewport-phone {
  //   --wrap: calc(5 * var(--vw, 1vw));
  // }
  
  // @include viewport-desktop {
  //   --wrap: calc(5.75 * var(--vw, 1vw));

  //   @media (min-width: 1300px) {
  //     --wrap: calc((var(--vw, 1vw) * 100 - 1200px) / 2);
  //   }
  // }
  @include viewport-tablet {
    --wrap: 6.444vw;
    --wrap-1: 10.416vw;
    --wrap-2: var(--wrap-1);

    --wrap-banner: var(--wrap);
    --wrap-team: var(--wrap-1);
    --wrap-form: var(--wrap-1);
  }
  @include viewport-phone {
    --wrap: 4.444vw;
    --wrap-1: var(--wrap);
    --wrap-2: var(--wrap);

    --wrap-banner: var(--wrap);
    --wrap-team: var(--wrap);
    --wrap-form: var(--wrap);
  }
  
  --wrap: 8.333vw;
  --wrap-1: 15.416vw;
  --wrap-2: 22.569vw;
  
  --wrap-banner: 14.652vw;
  --wrap-team: 13.75vw;
  --wrap-form: 17.361vw;

  @include viewport-desktop {
    @media (min-width: 1400px) {
      --wrap: calc((100vw - 1200px) / 2);
      --wrap-1: calc((100vw - 996px) / 2);
      --wrap-2: calc((100vw - 790px) / 2);

      --wrap-banner: calc((100vw - 1018px) / 2);
      --wrap-team: calc((100vw - 1044px) / 2);
      --wrap-form: calc((100vw - 940px) / 2);
    }
  }
}
