.action
  .action__header
    p.action__title One Arm Labs
    p.action__subtitle Total Price: €130.00

  .action__main
    form.action-form.form(action='post')
      input.name(type='text', name='name')
      button(type='submit') 
        span submit
